{% extends 'base.html.twig' %}

{% block title %}Sample index{% endblock %}

{% block body %}
    <h1>Sample index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Article</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sample in samples %}
            <tr>
                <td>{{ sample.id }}</td>
                <td>{{ sample.title }}</td>
                <td>{{ sample.article }}</td>
                <td>{{ sample.createdAt ? sample.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sample_show', {'id': sample.id}) }}">show</a>
                    <a href="{{ path('sample_edit', {'id': sample.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sample_new') }}">Create new</a>
{% endblock %}
