{% extends 'base.html.twig' %}

{% block title %}Sample{% endblock %}

{% block body %}
    <h1>Sample</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sample.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ sample.title }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ sample.article }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sample.createdAt ? sample.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sample_index') }}">back to list</a>

    <a href="{{ path('sample_edit', {'id': sample.id}) }}">edit</a>

    {{ include('sample/_delete_form.html.twig') }}
{% endblock %}
